@import 'variables';
@import 'waffleGrid';

.wafflePuzzle {
	margin: 0 auto;
	left: 2.5px;

	.tile {
		@extend .col_1_of_4;
		padding: 0;
		width: calc(25% - 5px);
		margin-right: 5px;
		margin-top: 5px;
		background-color: rgba(red, .5);
		border: 1px solid black;
		box-shadow: 1px 1px 1px black;
		cursor: pointer;
		overflow: hidden;
	}
}